#header{
    background-color: khaki;
    grid-area: 1/1/2/-1;
}
#nav{
    background-color: lightblue;
    grid-area: 2/2/3/-1;
}
#sidebar{
    background-color: orangered;
    grid-area: 2/1/4/2;
}
#article{
    background-color: grey;
    grid-area: 3/2/4/-1;
}

#footer{
    background-color: darkslategrey;
    grid-area: 4/1/5/-1;
}
.item{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*removed grid-template-rows: 1fr 1fr 5fr 1fr; to make it more responsive on small screens*/
    grid-template-rows:auto;
    gap: 15px 15px;
    background-color: antiquewhite;
}
h1{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
p{
    margin-left: 1rem;
    margin-right: 1rem;
}
